{% extends "server/views/template.html" %}

{% block headers %}
<script type="text/javascript" src="/bundle/render.js" defer></script>
{% endblock %}

{% block page %}
<div id="latest-posts">
{% if Posts %}

    {% for Post in Posts %}
        {% if Post.visible or accessAllowed %}
        <div class="post-item">
                <div class="post-title">
                    {% if accessAllowed %}
                        <a class="icon icon-cross icon-custom" data-id="{{ Post.uid }}"></a>
                    {% endif %}
                    <a href="/post/{{ Post.uid }}"><h3>{{ Post.title }}</h3></a>
                    {% if accessAllowed %}
                        <a class="icon icon-edit edit-post-btn" href="/write/{{ Post.uid }}"></a>
                    {% if Post.visible %}
                        <a class="icon icon-custom icon-eye-visible"></a>
                    {% else %}
                        <a class="icon icon-custom icon-eye-hidden"></a>
                    {% endif %}
                {% endif %}
                </div>
                <div class="post-body">{{ Post.content|safe }}</div>
                <div class="post-footer">{{ Post.creationTime }}</div>
            </div>
        {% endif %}
    {% endfor %}

{% else %}
<span>There is no posts</span>
{% endif %}
</div>
{% endblock %}
