{% extends "server/views/template.html" %}

{% block headers %}
<link rel="stylesheet" href="/noty/lib/noty.css" />
<script type="text/javascript" src="/bundle/join.js" defer></script>
{% endblock %}

{% block page %}
<div id="email-form" class="login-page-form input-group">
    <input id="email" class="form-input" name="email" type="text" placeholder="Email" />
    <input id="email-enter" class="btn btn-primary input-group-btn" type="button" value="Send code" />
</div>
<div id="onetime-code-form" class="login-page-form input-group hidden">
    <input id="onetime-code" class="form-input" name="onetime-code" type="text" placeholder="Verification code" />
    <input id="onetime-code-enter" class="btn btn-primary input-group-btn" type="button" value="Login" />
</div>
{% endblock %}