{% extends "server/views/template.html" %}

{% block headers %}
<script type="text/x-template" id="users-list-template">
    <div>
        <div id="users-list-toolbar">
            <span>Users</span>
            <a id="new-user" class="icon icon-plus icon-custom control-btn" v-on:click="showForm"></a>
        </div>
        {% raw %}
        <div id="users-list">
            <div id="add-user-form" class="user-row" v-if="showUserForm">
                <a class="icon icon-plus icon-custom control-btn" v-on:click="addUser"></a>
                <input type="text" class="form-input" name="email" id="user-email" v-model="email" placeholder="Email">
            </div>
            <span class="user-row" v-for="item in users">{{ item.email }}</span>
        </div>
        {% endraw %}
    </div>
</script>

<script type="text/x-template" id="resources-list-template">
<div id="images-list" class="control-block form-group">
    <span>Storage</span>
    <a id="new-resource" class="icon icon-plus icon-custom control-btn"></a>
    <div id="resources-container">
        {% for LocalURI in Resources %}
            <div class="resource-container">
                <img src="/img/{{ LocalURI }}" />
                <br />
                <a class="resource-element" href="/img/{{ LocalURI }}">{{ LocalURI }}</a>
            </div>
        {% endfor %}
    </div>
</div>
</script>

<script type="text/x-template" id="backup-template">
<div id="backup-appdata" class="control-block form-group">
    <span>Backup:</span>
    <input id="sync-data" type="button" value="Sync" class="btn btn-primary control-btn"></a>
    <span id="last-sync"></span>
</div>
</script>

<script type="text/javascript" src="/bundle/manage.js" defer></script>
{% endblock %}

{% block page %}
<users-list id="users-list-container" class="control-block form-group"></users-list>
{% endblock %}