{% extends "server/views/template.html" %}

{% block headers %}
<script type="text/javascript" src="/bundle/render.js" defer></script>
{% endblock %}

{% block page %}
<div class="post" data-post-id="{{Post.uid}}">
    <div class="post-title">
        {{ Post.title }}
        {% if accessAllowed %}
        <a class="icon icon-cross icon-custom" data-id="{{ Post.uid }}"></a>
        <a class="icon icon-edit edit-post-btn" href="/write/{{ Post.uid }}"></a>
            {% if Post.visible %}
            <a class="icon icon-custom icon-eye-visible"></a>
            {% else %}
            <a class="icon icon-custom icon-eye-hidden"></a>
            {% endif %}
        {% endif %}
    </div>
    <div>
        <div class="post-body">{{ Post.content|safe }}</div>
    </div>
</div>
{% endblock %}
