<html>

<head>
    <meta charset="utf8" />
    <meta name="description" content="eval-loop hello world" />
    <title>eval-loop hello world</title>
    <link rel="icon" type="image/png" href="/style/favicon.png" />
    <link href="/spectre.css/dist/spectre.css" rel="stylesheet" />
    <link href="/spectre.css/dist/spectre-icons.css" rel="stylesheet" />
    <link href="/style/index.css" rel="stylesheet" />
    {% block headers %}
    {% endblock %}
</head>

<body>
    <div id="menubar">
        <a href="/">/</a>
        {% if accessAllowed %}
        <a id="write-new-post" href="/write">+ post</a>
        {% endif %}

        {% if accessAllowed %}
        <a href="/view-all">( ͝° ͜ʖ͡°)</a>
        {% endif %}
    </div>
    <div id="page">
        {% block page %}
        {% endblock %}
    </div>
</body>

</html>