{% extends "server/views/template.html" %}

{% block headers %}
<link rel="stylesheet" href="/noty/lib/noty.css" />
<script type="text/javascript" src="/bundle/write.js" defer></script>
{% endblock %}

{% block page %}
{% if accessAllowed %}
<div id="live-editor" class="form-group" data-post-id="{{Post.uid}}">
    <div id="post-editor-title" class="input-group">
        <input id="save-post" type="button" class="btn btn-primary input-group-btn" value="Save">
        <input id="post-title-editable" class="form-input" type="text" placeholder="Short post description" value="{{ Post.title }}">
        {% if Post.visible %}
        <a id="post-status" class="icon icon-custom icon-eye-visible"></a>
        {% else %}
        <a id="post-status" class="icon icon-custom icon-eye-hidden"></a>
        {% endif %}
    </div>
    <div id="post-editor" class="form-group">
        <textarea id="editor-container">{{ Post.content|safe }}</textarea>
    </div>
</div>
{% endif %}
{% endblock %}